.typing-animation {
  @apply text-xl md:text-2xl;
  display: inline;
  line-height: 2rem;
  font-weight: 500;
  border-right-width: 8px;
  padding-right: 0.5rem;
  animation: blink 750ms infinite;
}

@keyframes blink {
  50% {
    border-right: none;
  }
}
