@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color */
  --text: #e3efff;
  --background: #01070f;
  --primary: #0865e0;
  --secondary: #043249;
  --accent: #20c5f7;
  --accent-dark: #1d96bb;
  --disable: #696969;
  --danger: #f34311;

  background-color: var(--background);
  color: var(--text);
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: inherit;
  background-color: inherit;
  @apply select-none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: blueviolet;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  user-select: text;
}

.img-logo {
  @apply aspect-square object-scale-down object-center rounded;
}
